# Viking V2 connection values. Copy to viking_v2/.env or save them in KẾT NỐI.
DNSE_API_KEY=
DNSE_API_SECRET=
DNSE_ACCOUNT_NO=
DNSE_STOCK_ACCOUNT_NO=
DNSE_CUSTODY_CODE=
DNSE_OTP_TYPE=email_otp
DNSE_TRADING_TOKEN=
DNSE_TRADING_TOKEN_EXPIRES_AT=0
DNSE_CKCS_WATCHLIST=AAA,ANV,CTD,CTP,DC4,DBC,DCM,DGC,DGW,DIG,DRC,DXS,GEG,HAG,HAP,HAR,HPG,HPX,HT1,IDC,ITC,JVC,KDH,LDG,MBS,NHA,NLG,NVL,PDR,PLX,PNJ,POW,QCG,SCR,SCS,TDM,TLG,TV2,VIX,VPG
TELE_BOT_KEY=
